 
<% include partials/head %>
<div class="container" style="display:grid;">
    <% if(typeof params.messege === 'undefined' ){
    }else if (params.messege.trim() != ''){%>
      <h1 class="loginmsg" style="font-size:15px;color:red;text-align:center"><%= params.messege %></h1>
    <%}%>
      
  <button class="loginbutton"onclick="document.getElementById('loginModal').style.display='block'" style="width:auto;">Login</button>
  <button class="signupbutton"onclick="document.getElementById('signupModal').style.display='block'" style="width:auto;">Sign up</button>
  <div id="loginModal" class="modal">
    <form class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="websiteLogo.png" alt="Logo" class="avatar">
      </div>

      <div class="login-modal-containers">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
          
        <button type="submit">Login</button>
 
        <label>
          <input type="checkbox" checked="checked"> Remember me
        </label>
      </div>

      <div class="login-modal-containers" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
   <div id="signupModal" class="modal">
    <form class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('signupModal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="websiteLogo.png" alt="Logo" class="avatar">
      </div>

      <div class="signup-modal-containers">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <label><b>Repeat Password</b></label>
        <input type="passwo-confirm" placeholder="Enter Password" name="rp-psw" required>
        <label><b>E-mail Adress</b></label>
        <input type="mail" placeholder="Enter e-mail" name="mail" required>
          
        <button type="submit">Sign up</button>

        
      </div>

      <div class="login-modal-containers" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('loginModal').style.display='none'" class="cancelbtn">Cancel</button>
       </div>
    </form>
  </div>

</div>