<% include partials/head %>
<% include partials/header %>
    <% if(typeof  messege === 'undefined' ){
    }else if ( messege.trim() != ''){%>
      <h1><%= params.messege %></h1>
    <%}%>
    <h1>SIGN UP PAGE PLACEHIOLDER</h1>

<% include partials/foot %>